body {
    width: 30em;
    margin-left: 2%;
}

.prankware-logo {
  height: 230px;
  width: 180px;
  float: right;
  padding: 20px;
}

h1 {
  font-size: xx-large;
  padding-top: 10px;
}

h3 {
  font-size: medium;
  /*padding-right: 5px;*/
  padding-bottom: 5px;
}

hr {
  margin: 6% 10% 3% 0;
}

.play-error-interval,
.screen-flash-interval {
  margin-left: 2%;
}

.play-error-interval-number,
.screen-flash-interval-number {
  width: 15%;
}

.mouse-cursor-dropdown {
  width: 30%;
  margin: 0 0 0 4%;
}

.prank-list {
  margin-left: 5%;
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 2%;
  width: 30px;
  height: 18px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.slider {
  position: absolute;
  cursor: pointer;
  top: 30%;
  left: 0;
  right: 0;
  bottom: -30%;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
  
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
  
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

footer {
  font-size: small;
  text-align: center;
  margin-bottom: 5%;
}

.footer-helper {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer-helper span{
  flex-wrap: wrap;
  align-items: center;
  padding: 1% 3% 4% 3%;
}